/*.container h1 {
    font-family:'Old Standard TT', serif;
}

.left {
    font-family:'Old Standard TT', serif;
    margin-left: 0%;
}

.right {
    font-family:'Old Standard TT', serif;
}

body {
    margin: 0;
    font-family:'Old Standard TT', serif;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    background-color: #4a4657;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header nav ul li.right a i {
    margin-right: 5px;
    color: rgb(2, 2, 2);
    font-size: 16px;
}

.title {
    background: linear-gradient(5deg, 
    #D8C751,  
    #C1A60F, 
    #B09118, 
    #F9F772,
    #9C7215);
    color:rgb(0, 0, 0);
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

.header nav {
    background-color: #9C7215;
    width: 100%;
}

.header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 10px 20px;
}

.header nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family:'Old Standard TT', serif;
    font-weight: 600;
}

.main-content {
    background-color: #f1edec;
    background-image:url('/assets/FondoA.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.main-content .white-container {
    background-color: #fff2cc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 13px 13px 23px rgba(0, 0, 0, 0.4);
    border: 2px solid #9C7215;
    background: transparent;
    backdrop-filter: blur(10px);
    background: #9C7215; 
    width: 90%;
    margin: 0 auto;
}

.main-content h1 {
    margin-top: 0;
    text-align: center;
    color: #fff;
}

.expenses-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 15px;
    border-radius: 25px;
    align-items: center;
}

.expenses-table th, .expenses-table td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

.expenses-table th {
    background-color: #49454f;
    color: white;
}

.expenses-table tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

.expenses-table tbody tr:nth-child(even) {
    background-color: #e5e5e5;
}

.delete-button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: darkred;
}

.edit-button {
    background-color: dodgerblue;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
}

.edit-button:hover {
    background-color: deepskyblue;
}

@keyframes slideInRight {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
}
  
@keyframes slideOutRight {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(100%);
    }
}

.notification {
    position: absolute;
    top: 100px;
    right: 20px;
    background-color: #3b9c3e71;
    color: white;
    font-weight: 600;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    animation: slideInRight 0.5s forwards, slideOutRight 0.5s forwards 2.5s;
}

.floating-window {
    position: absolute;
    top: 100px;
    left: 20px;
    background-color: rgba(3, 0, 46, 0.432); 
    color: white;
    font-weight: 600;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    animation: slideInRight 0.5s forwards;
}

#map {
    width: 100%;
    height: 500px; 
    overflow: hidden;
    margin: 0; 
    padding: 0;
    }
    .main-content {
        background-color: #f1edec;
        background-image: url('/assets/twitch.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        flex: 1;
        display: flex;
        justify-content: center;
        padding: 20px;
        width: 100%;
    }
-----------------------------
body {
    margin: 0;
    font-family: 'Old Standard TT', serif;
    background-color: #f1edec;
    color: #333;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    background-color: #4a4657;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-bottom: 3px solid #9C7215;
}

.header .title {
    width: 100%;
    text-align: center;
    background: linear-gradient(5deg, #D8C751, #C1A60F, #B09118, #F9F772, #9C7215);
    color: rgb(0, 0, 0);
    padding: 10px 0;
}

.header nav {
    background-color: #9C7215;
    width: 100%;
    padding: 10px 0;
}

.header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.header nav ul li {
    margin: 0 15px;
}

.header nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 600;
    font-size: 1.1em;
}

.main-content {
    background-image: url('/assets/twitch.jpg');
    background-size: cover;
    background-position: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.main-content .white-container {
    background-color: rgba(255, 242, 204, 0.9); 
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border: 2px solid #9C7215;
    backdrop-filter: blur(10px);
    width: 90%;
    max-width: 800px;
    text-align: center;
}

.expenses-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1em;
}

.expenses-table th,
.expenses-table td {
    padding: 12px;
    text-align: center;
}

.expenses-table th {
    background-color: #49454f;
    color: white;
}

.expenses-table tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

.expenses-table tbody tr:nth-child(even) {
    background-color: #e5e5e5;
}

.delete-button,
.edit-button {
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.delete-button {
    background-color: #e74c3c;
}

.delete-button:hover {
    background-color: #c0392b;
}

.edit-button {
    background-color: #3498db;
}

.edit-button:hover {
    background-color: #2980b9;
}

.notification,
.floating-window {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    font-weight: bold;
}

.notification {
    top: 20px;
    right: 20px;
    animation: slideInRight 0.5s forwards, slideOutRight 0.5s forwards 2.5s;
}

.floating-window {
    top: 100px;
    left: 20px;
    background-color: rgba(3, 0, 46, 0.7);
}

@keyframes slideInRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideOutRight {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}

#map {
    width: 100%;
    height: 500px;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

@media (max-width: 768px) {
    .header nav ul {
        flex-direction: column;
        padding: 0;
    }

    .header nav ul li {
        margin: 10px 0;
    }

    .main-content .white-container {
        width: 100%;
        padding: 20px;
    }

    iframe {
        width: 100%;
        height: 360px;
    }
}*/
/* General Styles */
.container h1 {
    font-family:'Old Standard TT', serif;
}

.left {
    font-family:'Old Standard TT', serif;
    margin-left: 0%;
}

.right {
    font-family:'Old Standard TT', serif;
}

body {
    margin: 0;
    font-family:'Old Standard TT', serif;
    overflow-x: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    background-color: #9C7215;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    background: linear-gradient(5deg, 
    #D8C751,  /* Dorado claro */
    #C1A60F,  /* Dorado brillante */
    #B09118,  /* Dorado más oscuro */
    #F9F772,
    #9C7215);
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

.header nav {
    background-color: #9C7215;
    width: 100%;
}

.header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 10px 20px;
}

.header nav ul li.left {
    margin-right: auto;
}

.header nav ul li.right {
    margin-left: 20px;
}

.header nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 600;
}

body {
    margin: 0;
    font-family: 'Old Standard TT', serif;
    background-color: #f1f1f1;
    color: #ff0505;
}

/* Contenedor principal */
.main-content {
    background-color: #f1edec;
    background-image:url('/assets/twitch.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 20px;
    width: 100%;
}

/* Contenedor general */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

/* Cabecera */
.header {
    background-color: #4a4657;
    color: white;
    text-align: center;
    padding: 10px 0;
    border-bottom: 3px solid #9C7215;
    width: 100%;
}

.header .title h1 {
    font-size: 2.5rem;
    margin: 0;
    color: #D8C751;
}

.header nav {
    background-color: #9C7215;
    padding: 10px;
    width: 100%;
}

.header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.header nav ul li a {
    color: white;
    font-size: 1.1rem;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.header nav ul li a:hover {
    background-color: #4a4657;
}

/* Contenedor de las transmisiones */
.main-stream, .stream-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff2cc;
    border: 2px solid #9C7215;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 1200px;
}

.main-stream iframe, .stream-item iframe {
    border-radius: 8px;
    border: none;
    max-width: 100%;
}

/* Barra de estado del stream */
.stream-status {
    text-align: center;
    font-weight: bold;
    padding: 10px;
    background-color: #f9c74f;
    color: #333;
    border-radius: 5px;
    margin: 10px auto;
    width: 80%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilo de los elementos de stream */
.stream-item h3 {
    color: #333;
    margin: 10px 0 5px;
    font-size: 1.3rem;
}

.stream-item p {
    margin: 0 0 10px;
    font-size: 1rem;
    color: #666;
}

.stream-item hr {
    width: 80%;
    border: 0;
    border-top: 1px solid #ddd;
    margin: 20px 0;
}

/* Diseño Responsivo */
@media (max-width: 768px) {
    .main-stream, .stream-item {
        width: 95%;
    }

    .header .title h1 {
        font-size: 2rem;
    }

    .header nav ul li a {
        font-size: 1rem;
    }

    .stream-item iframe {
        width: 100%;
    }
}

