.container h1 {
    font-family:'Old Standard TT', serif;
}

.left {
    font-family:'Old Standard TT', serif;
    margin-left: 0%;
}

.right {
    font-family:'Old Standard TT', serif;
}

body {
    margin: 0;
    font-family:'Old Standard TT', serif;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    background-color: #9C7215;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    background: linear-gradient(5deg, 
    #D8C751,  /* Dorado claro */
    #C1A60F,  /* Dorado brillante */
    #B09118,  /* Dorado más oscuro */
    #F9F772,
    #9C7215);
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

.header nav {
    background-color: #9C7215;
    width: 100%;
}

.header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 10px 20px;
}

.header nav ul li.left {
    margin-right: auto;
}

.header nav ul li.right {
    margin-left: 20px;
}

.header nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 600;
}

.main-content {
    background-color: #9C7215;
    background-image: url('/assets/RegistroF.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.main-content h1 {
    margin-top: 0;
    color:white;
    text-align: center;
}

.form-grid {
    width: 100%;
    max-width: 1000px;
    margin-top: 20px;
    padding: 30px;
    border-radius: 6px;
    border: 2px solid #9C7215;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    background-color: #9C7215;
    background: transparent;
    backdrop-filter: blur(10px);
    box-shadow: 13px 13px 23px rgba(0, 0, 0, 0.5);
}

.form-group {
    margin-bottom: 20px;
}

.form-floating {
    position: relative;
    margin-bottom: 20px;
}

.form-floating input {
    width: 250px;
    padding: 10px;
    border: 3px solid #9C7215;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 15px;
    font-family:'Old Standard TT', serif;
    background-color: transparent;
    color: #D8C751;
    box-shadow: none;
    transition: all 0.2s ease;
}

.form-floating label {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 15px;
    color: #D8C751;
    pointer-events: none;
    transition: all 0.2s ease;
}

.form-floating input:focus,
.form-floating input:not(:placeholder-shown) {
    padding-top: 20px;
}

.form-floating input:focus + label,
.form-floating input:not(:placeholder-shown) + label {
    top: -17px;
    left: 10px;
    font-size: 13px;
    color: #D8C751;
}

button {
    grid-column: span 3;
    background-color: #9C7215;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    color: #fff2cc;
}

button a {
    text-decoration: none;
    color: inherit;
}

button:hover {
    background-color: #D8C751;
}

.links-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 0;
}

.links-container h5 {
    margin: 0;
    font-family:'Old Standard TT', serif;
}

.links-container h5 a {
    text-decoration: none;
    color: inherit;
}

.error-message {
    color: #af1919;
    font-size: 14px;
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.error-message i {
    margin-right: 5px;
}

.form-group.error input,
.form-group.error select {
    border-color: #af1919;
}