.container h1 {
    font-family:'Old Standard TT', serif;
}

.left {
    font-family:'Old Standard TT', serif;
    margin-left: 0%;
}

.right {
    font-family:'Old Standard TT', serif;
}

body {
    margin: 0;
    font-family:'Old Standard TT', serif;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    background: linear-gradient(5deg, 
    #D8C751,  /* Dorado claro */
    #C1A60F,  /* Dorado brillante */
    #B09118,  /* Dorado más oscuro */
    #F9F772,
    #9C7215);
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header nav ul li.right a i {
    margin-right: 5px;
    color: rgb(0, 0, 0);
    font-size: 16px;
}

.title {
    background: linear-gradient(5deg, 
    #D8C751,  /* Dorado claro */
    #C1A60F,  /* Dorado brillante */
    #B09118,  /* Dorado más oscuro */
    #F9F772,
    #9C7215);
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

.header nav {
    background-color: #9C7215;
    width: 100%;
}

.header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 10px 20px;
}

.header nav ul li.left {
    margin-right: auto;
}

.header nav ul li.right {
    margin-left: 20px;
}

.header nav ul li a {
    color: #000000;
    text-decoration: none;
    font-family:'Old Standard TT', serif;
    font-weight: 600;
}

.main-content {
    background-color: #B09118;
    background-image: url('/assets/gasto_form.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.form-grid {
    width: 100%; 
    max-width: 1100px; 
    margin-top: 20px; 
    padding: 30px; 
    border: 2px solid #B09118; 
    border-radius: 5px; 
    box-shadow: 13px 13px 23px B09118(0, 0, 0, 0.5);
    border: 2px solid #B09118;
    background: B09118(125, 111, 248, 0.205);
    backdrop-filter: blur(10px);
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    gap: 30px;
}

.form-group {
    margin-bottom: 20px; 
}

.form-floating {
    position: relative;
    margin-bottom: 20px;
}

.form-floating input,
.form-floating select {
    width: 300px; 
    padding: 10px; 
    border: 3px solid #B09118; 
    border-radius: 4px; 
    box-sizing: border-box; 
    font-size: 15px; 
    font-family:'Old Standard TT', serif;
    background-color: transparent;
    color: #B09118;
    transition: all 0.2s ease;
}

.form-floating label {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 15px;
    color: #B09118;
    pointer-events: none;
    transition: all 0.2s ease;
}

.form-floating input:focus,
.form-floating select:focus {
    border-color: #B09118;
    outline: none;
}

.form-floating input:focus + label,
.form-floating select:focus + label,
.form-floating input:not(:placeholder-shown) + label,
.form-floating select:not(:placeholder-shown) + label {
    top: -17px;
    left: 0;
    font-size: 14px;
    color: #B09118;
}

button {
    grid-column: span 3;
    background-color: #B09118;
    color: #fff2cc;
    border: none; 
    padding: 10px 20px; 
    border-radius: 4px; 
    cursor: pointer; 
    font-size: 16px; 
    align-items: center;
}

button:hover {
    background-color: #D8C751; 
}

.info-icon {
    display: inline-block;
    margin-left: 5px;
    cursor: pointer;
    position: relative;
}

.info-icon .tooltip {
    display: none;
    position: absolute;
    top: -5px;
    left: 25px;
    background-color: #B09118;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    white-space: nowrap;
    z-index: 10;
    font-size: small;
    font-weight: normal;
}

.info-icon:hover .tooltip {
    display: block;
}

.info-icon i {
    color: #B09118;
    font-size: 1em;
}

.error-message {
    color: #af1919;
    font-size: 14px;
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.error-message i {
    margin-right: 5px;
}

.form-group.error input,
.form-group.error select {
    border-color: #af1919;
}